* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { height: auto; }

body {
  min-height: 100vh;      
  margin: 0;
  display: flex;           
  flex-direction: column;
  border: 5px solid black; /* if you want the page border */
  background-color: whitesmoke;
}

/* Header */
.header {
  background-color: #f57c64;
  background-image:url("../src/assets/Images/bg-pattern-intro-desktop.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 16px 24px;
  border-bottom-left-radius: 50px;
}
.headerBottum{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
}
.headerBtn{
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
}
/* NavBar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  color: white;
  margin: 50px;
}

.navbar-logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: rgb(5, 3, 34);
}

.navBtn{
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

/* main div */
.main-div {
  flex: 1;                 /* takes remaining space */
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* main div box */
.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
/* box1 content and img */
.sec1content {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  height: 100%;
  width: 60%;
  margin: 50px;
  padding: 20px;
  /* border: 1px solid black; */
}

.content-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
}

.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(47, 58, 99);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 100%;
  width: 100%;
}
/* box 2 content and img */
.sec2content {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
  margin: 50px;
  padding: 20px;
  height: 100%;
  width: 50%;
 
}

.sec2img {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: 'visible';
  height: 100%;
  width: 50%;

}

.box3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(21, 36, 68);
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
/* box 3 content and img */
.sec3content {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
  height: 100%;
  margin: 50px;
  width: 60%;
}

.sec3img {
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 40%;

}

/* footer */
.footer {
  width: 100%;
  background-color: #0b041f;
  padding: 16px 24px;
}