* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body, #root{
  height: 100%;
  width: 100%;
  border: 1px solid black;
  /* background-color: #36aa32; */
}

/* Header */
.header{
background-color: brown;
width: '100%';
height: '20%' ;
}

/* NavBar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  color: white;
}

.navbar-logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: rgb(5, 3, 34);
}


/* main div */
.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60%;
  width: 100%;
}

/* main div box */
.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(228, 227, 224);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
/* box1 content and img */
.sec1content {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 60%;
  border: 1px solid black;
}

.content-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
  border: 1px solid black;
}

.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(190, 187, 181);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
/* box 2 content and img */
.sec2content {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 50%;
  border: 1px solid black;
}

.sec2img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  border: 1px solid black;
}

.box3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(105, 128, 160);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
/* box 3 content and img */
.sec3content {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 60%;
  border: 1px solid black;
}

.sec3img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
  border: 1px solid black;
}

/* footer */
.footer{
  width: "100%"; 
  height: "20%"; 
  background-color: "#0b041fff";
}